{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h2><a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-primary btn-lg">{{ topic }}</a></h2>
{% endblock page_header %}

{% block content %}
    <p>Add a new entry:</p>
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" button_class="btn-success" content="Add Entry" %}
    </form>

{% endblock content %}